<!DOCTYPE html>
<html lang="en" xmlns:td="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="Stylesheet.css" />
    <title>Tic Tac Toe</title>

</head>
<body>
<table>

    <tr th:each=" tableRow: ${tableRows}">
        <td th:each="tableCell: ${tableRow.row}">
            <span th:if="${tableCell.hasValue()}" th:text="${tableCell.cellValue}">v</span>
            <a th:unless="${tableCell.hasValue()}" th:href="@{/move(columnId=${tableCell.id},rowId=${tableRow.getId()})}">l</a>
        </td>
    </tr>
</table>





</body>
</html>
