<html lang="en" xmlns:td="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="Stylesheet.css" />
    <title>Tic Tac Toe</title>

</head>
<body class="loginbody">



<h1 class="tictactoe">Tic Tac Toe</h1>
<h2 class = "loginn">Login</h2>
<form action="/" class="text" method="post">

    <input type="text"  placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit" class="btn btn-login" value="Log in">
</form>
<a class ="account">Don't have an account? Create one </a>
<a href="/signup" class="account1" >here</a>

</body>
</html>