<html lang="en" xmlns:td="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="Stylesheet.css" />
    <title>Tic Tac Toe</title>

</head>
<body class="signupbody">
<h1 class="tictactoe">Tic Tac Toe</h1>
<h2 class = "loginn">Sign up</h2>
<form action="/signup" class="signup"method="post">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit" class ="btn btn-create"value="Create user">
</form>

</body>
</html>